<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
    <title><%= title %></title>
</head>
  

<style>

    
    .header {
 
  padding: 20px;
  text-align: center;

  color : #A9A9A9;
}
    
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #CAEBF2;
  color : #A9A9A9;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color : #A9A9A9;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}    
    
    body {
  margin: 0;
     background-color: #EFEFEF;
}
    
</style>
<body>

<!--        this is the header to be attached to the top of the various pages-->
                
<div class="header">
  <h2><a href="/">Gers Garage</a></h2>
  <p>"We LOVE cars"</p>
    
<!--    links to various pages in the site-->
    
 <div class="topnav">
  <a href="/booking">Booking</a>
  <a href="/login" title="click to login">Login</a>
  <a href="/about" title="Learn about our company">About</a>
  
  <a class="float-right" href="/adminlogin" title="Admin Login">Admin</a>
</div>

    
    </div>
    </body>
    </html>