<html>
    <body>
        <!--        links to header,footer and css folders/modules-->
    <div>
<% include partials/header.ejs %> 
<% include css/css.ejs %> 
<% include partials/footer.ejs %>
   
    
<h2> Home </h2>
        
<!--        Orginal Home page , mostly empty but kept intact in case web admin decides to make changes in future-->
        
        <a href="/login"> Login </a>
</div>
</body>
</html>
