<!DOCTYPE html>
<html lang="en">
<head>
<title>Ger says hello</title>
<meta charset="utf-8">
    
   <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
    <!--        links to header,footer and css folders/modules-->
    
<% include partials/header.ejs %> 
<% include css/css.ejs %> 
<% include partials/footer.ejs %>
    </head>
    
    
    
    <body>
        
<!--        Home page for web application-->

<div class="row">
  <div class="column">
    <h2 id="title"> Service </h2>
    <p>We do a good service</p>
      <img src="/assets/img/oil.gif" alt="oil" height="200" width="350">
     
  </div>
  
  <div class="column">
    <h2 id="title">Repair</h2>
    <p>All repairs. Big or small. </p>
      <img src="/assets/img/garagePic.jpg" alt="garage" height="200" width="350">
  </div>
  
  <div class="column" >
    <h2 id="title"  >Market</h2>
    <p>Every sunday there is a market with local crafts</p>
      <img src="/assets/img/market.jpg" alt="market" height="200" width="350">
  </div>
</div>
        
       
        
     <div class="footer">
  <p>Contact details</p>
         <p> Admin Login</p>
</div>  
     
        
    </body>
</html>
